Flask>=1.0,<=1.1.2
PyYAML==5.4.1
spacy
SharePlum
gensim
ntlm-auth
requests-ntlm
setuptools
pytesseract
python-magic   
scikit-multilearn
opencv-python
numpy           
pandas       
SciPy        
scikit-learn 
pymongo      
Flask         
flask-restful 
flask-snow   
flask_cors   
requests     
pysnow       
servicenow   
xlrd         
gevent         
APScheduler   
textblob     
nltk         
hyperopt     
xgboost	     
pypdf2
docx2txt
breadability
certifi
cffi
chardet
Click
colorama
decorator
defusedxml
docutils
Flask_Sphinx_Themes
greenlet
httpretty
idna
ijson
imagesize
itsdangerous
Jinja2
MarkupSafe
oauthlib
packaging
pbr
pycparser
Pygments
pyparsing
python_dateutil
pytz
redis
requests_oauthlib
singledispatch
six
snowballstemmer
SOAPpy
Sphinx
sphinxcontrib_websupport
tzlocal
urllib3
Werkzeug
wstools
xgboost
requests-toolbelt
hyperopt
sumy
docx2txt
PyPDF2
sendgrid
pywin32
matplotlib
IPython
pillow                          
bson
imutils
en_core_web_sm
en_core_web_md
