Flask>=1.0,<=1.1.2
PyYAML==5.4.1
numpy        >= 1.14.3          # Minimum version   
pandas       >= 0.23.0          # Minimum version 
SciPy        >= 0.13.3          # Minimum version
scikit-learn >= 0.19.1          # Minimum version
pymongo      >= 3.7.1           # Minimum version
Flask        >= 1.0.2           # Minimum version
flask-restful >= 0.3.6          # Minimum version
flask-snow   >=  0.2.8          # Minimum version
flask_cors   >= 3.0.4           # Minimum version
requests     >=2.18.4           # Minimum version
pysnow       >=0.7.4            # Minimum version
servicenow   >=2.1.0            # Minimum version
PyPDF2				# Minimum version
docx2txt			# Minimum version
sumy				# Minimum version
apscheduler			# Minimum version
scikit-multilearn		# Minimum version
hyperopt			# Minimum version
xgboost				# Minimum version
shareplum			# Minimum version
textblob			# Minimum version
spacy				# Minimum version
nltk				# Minimum version
xlrd				# Minimum version
